@inherits LayoutComponentBase

@if(sideBarIsCollapsed)
{
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
}
else
{
    <div id="SideBar" class="sidebar">
        <NavMenu @bind-collapseNavMenu="sideBarIsCollapsed"/>
    </div>
}
<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    public bool sideBarIsCollapsed {get; set;} = false;
    public void ToggleNavMenu()
    {
        sideBarIsCollapsed = !sideBarIsCollapsed;
    }
}
